# Arquivos de compilação do LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.pdf
*.nav
*.snm

# abnTeX2 e pacotes específicos
*.sigla
*.siglax
*.symbols
*.symbolsx
*.loq
*.listing
*-blx.bib

# VS Code e Workspace
.vscode/
*.history

# Sistema e Backups
*.bak
*.sav
*.swp
*~
.DS_Store